.container {
    // padding-top: var(--header-height);
    // padding-left: var(--sidebar-width);
    /* padding-left: 16px; */
    // height: calc(100% - var(--header-height));
    background-color: var(--primary);
    padding-top: var(--header-height);
    height: 100%;
    // margin-left: var(--sidebar-width);
}

.content {
    height: 100%;
    background-color: var(--bg-light);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 32px;
    padding-top: 28px;
    margin-left: var(--sidebar-width);
}

.header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--bg-light);
    border-bottom-left-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    top: 0;

    .page-title {
        font-size: 24px;
        color: var(--text-strong);
        font-weight: 600;
    }
}

.user-credentials {
    display: flex;
    align-items: end;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: var(--text-semi-strong);

    .nome-empresa {
        font-weight: 600;
    }

    .user-email {
        font-weight: 500;
    }
}

.app-name-and-menu-button {
    font-weight: 600;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 8px;

    // .separator {
    //     height: 24px;
    //     width: 1px;
    //     background-color: var(--primary);
    //     margin-right: 8px;
    // }
}

.menu-button {
    font-size: 32px;
    width: 40px;
    height: 40px;
    color: var(--primary);
}

// .separator {
//     height: 50%;
//     width: 1px;
//     background-color: black;
// }

.sidebar-nav {
    background-color: var(--primary);
    width: var(--sidebar-width);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* padding: 16px; */
    padding-left: 0px;
    height: calc(100svh - var(--header-height));
    position: fixed;
    left: 0;
    gap: 24px;
    padding-top: 18px;
    padding-right: 16px;
    transition: left 0.2s;

    .app-name {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .user-credentials {
        color: white;
        align-items: start;
    }

    .sidebar-nav-header {
        display: flex;
        padding-left: 8px;
        align-items: center;
        gap: 6px;
        width: fit-content;
        position: relative;
        width: 100%;

        .logout-button {
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            right: 0;
            display: flex;
            align-items: center;
            color: white;
            font-weight: 300;
            font-size: 12px;
            gap: 4px;

            ion-icon {
                color: white;
                font-size: 14px;
            }
        }
    }

    .menu-button {
        color: white;
    }

    .sidebar-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .title-buttons-container {
        font-size: 20px;
        padding-bottom: 8px;
        color: white;
        font-weight: 500;
        padding-left: 16px;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .title-buttons-container::after {
        content: "";
        flex-grow: 1;
        position: relative;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .buttons-container {
        width: 100%;
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    .nav-button {
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 32px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        border: none;
        color: white;
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    .nav-button:hover:not(.active) {
        // color: var(--primary);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-button:active:not(.active) {
        // color: var(--primary);
        background-color: rgba(255, 255, 255, 0.35);
    }

    .nav-button.active {
        background-color: white;
        color: var(--primary);
    }

    .nav-button#logout-button {
        position: absolute;
        bottom: 8px;
    }
}

.smart-easy-logo {
    // width: 40px;
    // height: 40px;
    // background-color: var(--primary);
    color: black;
}

.sidebar-nav-backdrop {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.25s;

    &.show {
        opacity: 1;
        z-index: 101;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar-nav {
        top: 0;
        z-index: 102;
        left: calc(var(--sidebar-width) * -1);
        height: 100svh;

        &.open {
            left: 0;
        }
    }

    .content {
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .header {
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 430px) {
    :host {
        --header-height: 72px;
    }

    .container {
        padding-top: calc(var(--header-height) - 1px);
    }

    .header {
        box-shadow: none;
        padding-left: 14px;

        .menu-button {
            color: var(--text-strong);
            width: 40px;
            height: 40px;

            ion-icon {
                font-size: 32px;
            }
        }

    }

    .content {
        padding-top: 8px;
        padding-left: 22px;
    }

    .sidebar-nav {
        --sidebar-width: 80%;
    }
}