:root {
    --bg-strong: #d7e3ff;
    --bg-light: #F5F6FA;

    --primary: #00458f;
    --primary-rgb: 0, 69, 143;

    --sidebar-width: 260px;
    --header-height: 64px;

    --text-black: #000000;
    --text-strong: #1F2326;
    --text-semi-strong: #41505E;
    --text-medium: #6C757D;
    --text-light: #8A92A6;
    
    --danger: #f44336;
    --success: #239b56;
}