.container-flex {
    display: flex;
    gap: 4px;
    width: fit-content;
}

.percentage {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.water-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 200px;
    /*     border-radius: 50%; */
    border: 2px solid grey;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
    text-align: center;
    line-height: 50px;
    animation: water-waves linear infinite;
}

.water-wave {
    position: absolute;
    /* left: -40%; */
    background: #33cfff;
    width: 150%;
    height: 130%;
    border-radius: 40%;
    animation: inherit;
    animation-duration: 5s;
    transition: top 2s;
}

.water-wave-1 {
    top: 0%;
    // top: 10%;
    opacity: 0.6;
    /*   animation-delay: 0.8s; */
    animation-duration: 12s;
}

.water-wave-2 {
    top: 0%;
    // top: 5%;
    animation-duration: 8s;
    opacity: 0.5;
}

.water-wave-3 {
    top: 0%;
    // top: 0%;
    animation-duration: 6s;
    opacity: 0.4;
}

/*   .water-wave2 {
      position: absolute;
      top: 45%;
      left: -35%;
      background: #0eaffe;;
      opacity: 0.5;
      width: 200%;
      height: 200%;
      border-radius: 35%;
      animation: inherit;
      animation-duration: 7s;
    } */

/*   .water-wave3 {
      position: absolute;
      top: 50%;
      left: -35%;
      background: #0f7ae4;
      opacity: 0.3;
      width: 200%; 
      height: 200%;
      border-radius: 33%;
      animation: inherit;
      animation-duration: 11s;
    } */

@keyframes water-waves {
    0% {
        transform: translateY(0px);
        left: -40%;
        /*       top: 55%; */
    }

    50% {
        left: -10%;
        transform: translateY(10px);
        /*       top: 60%; */
    }

    100% {
        left: -40%;
        transform: translateY(0px);
        /*       top: 55%; */
    }
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}