/* login.component.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: var(--bg-strong);
}

.styling-container {
    height: 100%;
    width: 50%;
    background-color: var(--primary);
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    position: relative;
}

.logo-smart-easy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
}

.wifi-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
}

.card-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;

    mat-card-title {
        font-weight: 500;
        color: var(--primary);
    }

    .login-button {
        width: 100%;
        border-radius: 6px;
        background-color: var(--primary);
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding-top: 14px;
        height: auto;
        padding-bottom: 14px;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}

::ng-deep .mat-mdc-form-field-hint-wrapper,
::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0px !important;
}

@media screen and (max-width: 430px) {
    .logo-smart-easy {
        top: 10%;
        transform: translate(-50%, 0px);
        width: 50%;
    }

    .styling-container {
        position: absolute;
        width: 100vw;
        height: 100svh;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    .wifi-image {
        position: absolute;
        bottom: 0;
        left: 0;
        // width: 236px;
        width: 45%;
    }

    .card-container {
        width: 100%;
        height: 100%;
    }

    .login-card {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: transparent;
        box-shadow: none;

        mat-card-title {
            color: white;
            font-size: 24px;
        }

        .login-button {
            background-color: white;
            color: var(--primary);
            // font-weight: 600;
        }
    }
}